body {
    margin: 0px;
    padding: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    font-family: Cursive;
      }

.container{
    border: 10px solid black ;
    border-radius: 10%;
    padding: 40px 40px 40px 40px;
    background-color: rgba(64, 199, 199, 0.295) ;

}

#birthdayTitle {
    font-size: 24px;
    margin-bottom: 20px;
    padding:10px 10px 10px 10px;
    color: rgb(83, 173, 224);

      }
#congratulations {
    font-size: 18px;
    margin-bottom: 10px;
    color: palevioletred;
    text-align: center;
      }
#allEmployeesTitle{
    font-size: 15px;
    text-align: center;
    color: rgb(255, 106, 131);
}

#employeeList {
    list-style-type: none;
    padding: 0px;
      }
.employee {
    margin-bottom: 5px;
      }
      